@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* layout-base colors */
  --background: #ffffff;
  --foreground: #000000; /* font */

  /* button-colors */
  --primary: #BEECF8;         /* default - information */
  --secondary: #F5C272;       /* actions */
  --tertiary: #F1A8A8;        /* attention */
  --black: #000000;          /* black */
  --white: #ffffff;          /* white */
  --inactive: #D9D9D9;       /* inactive buttons */


  /* text-color */
  --text: #000000;
  --error: #FF0000;

  /* tag-color */
  --tags: #C5F8BE; 

  /* borders & input-fields colors */
  --border: #000000;
  --ring: #000000; /* focus: accessibility */
  --input: #ffffff;


  /* border-radius */
  --radius-btn: 10px;
  --radius: 15px;

  /* Popovers */
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}