@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* layout-base colors */
  --background: #ffffff;
  --foreground: #000000; /* font */

  /* button-colors */
  --primary: #BEECF8;         /* default - information (blue) */
  --secondary: #F5C272;       /* actions (orange) */
  --tertiary: #F1A8A8;        /* attention (red) */
  --completed: #BEF4E8;       /* completed (teal) */
  --black: #000000;          /* black */
  --white: #ffffff;          /* white */
  --contrast: #D9D9D9;       /* inactive/contrast color (grey) */


  /* text-color */
  --text: #000000;          /* black */
  --error: #FF0000;         /* red */

  /* tag-color */
  --tags: #C5F8BE;          /* green */

  /* borders & input-fields colors */
  --border: #000000;        /* black */
  --ring: #000000;          /* focus: accessibility (black) */
  --input: #ffffff;         /* white */


  /* border-radius (rounded) */
  --radius-btn: 10px;
  --radius: 15px;

  /* Popovers */
  --popover: var(--background);
  --popover-foreground: var(--foreground); 

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Montserrat */
}

 /* dashbaord calendar (day picker) */
.rdp-root { 
  --rdp-accent-color: var(--black);
  --rdp-accent-background-color: var(--secondary);

}